@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 79 152 246;
  --color-secondary: 217 45 32;
  --color-gray-1: 208 213 221;
  --color-gray-2: 102 112 133;
  --color-gray-black: 13 13 18;
}
